@import url(https://fonts.googleapis.com/css?family=Patua+One);
@import url(https://fonts.googleapis.com/css?family=Open+Sans);

/* vars */
:root {
  --headings: 'Patua One', cursive;
  --white: #fff;
  --grey-black: #222;
  --olive: #364e41;
}

body {
  background: #fff;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

p {
  line-height: 1.5;
}

/* Nav Button */
.nav-trigger {
  position: fixed;
  width: 110px;
  height: 98px;
  right: 0px;
  top: 0px;
  cursor: pointer;
  z-index: 200;
  transform-origin: 110px 0px;
  transition: background 0.3s linear;
}

.nav-trigger.open {
  background: var(--grey-black);
}

.nav-trigger.close {
  background: transparent;
}

.line {
  display: block;
  position: absolute;
  width: 80px;
  height: 6px;
  background: var(--white);
  left: 14px;
  transform-origin: 0px 4px;
  transition: opacity 0.3s ease-in-out cubic-bezier(0.645, 0.045, 0.355, 1),
    transform 0.24s ease-in-out cubic-bezier(0.645, 0.045, 0.355, 1);
}

.line:nth-child(1) {
  top: 16px;
}

.line:nth-child(2) {
  top: 44px;
}

.line:nth-child(3) {
  top: 72px;
}

.close .line:nth-child(1) {
  transform: translateX(11px) rotate(45deg);
}

.close .line:nth-child(2) {
  opacity: 0;
}

.close .line:nth-child(3) {
  transform: translateX(11px) rotate(-45deg);
}

/* Full page Navigation */
nav {
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 100;
}

nav.out {
  pointer-events: none;
}

nav.in {
  pointer-events: auto;
}

nav ul,
nav li {
  display: block;
  padding: 0;
  margin: 0;
  width: 100%;
  cursor: pointer;
}

nav ul {
  height: 100%;
  width: 100%;
  position: absolute;
}

nav li {
  height: 0;
  position: relative;
  background: var(--grey-black);
  color: var(--white);
  font-family: var(--headings);
  overflow: hidden;
}

nav li:hover {
  background: var(--olive);
}

nav.in li {
  height: 20%;
  transition: height 0.5s ease-out cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.5s linear;
  opacity: 1;
}

nav.out li {
  height: 0;
  transition: height 0.3s ease-in cubic-bezier(0.645, 0.045, 0.355, 1),
    opacity 0.3s linear;
  opacity: 0;
}

nav.in li:nth-child(1) {
  transition-delay: 0.1s;
}

nav.in li:nth-child(2) {
  transition-delay: 0.2s;
}

nav.in li:nth-child(3) {
  transition-delay: 0.3s;
}

nav.in li:nth-child(4) {
  transition-delay: 0.4s;
}

nav.in li:nth-child(5) {
  transition-delay: 0.5s;
}

nav.out li:nth-child(5) {
  transition-delay: 0.2s;
}

nav.out li:nth-child(4) {
  transition-delay: 0.15s;
}

nav.out li:nth-child(3) {
  transition-delay: 0.1s;
}

nav.out li:nth-child(2) {
  transition-delay: 0.05s;
}

nav.out li:nth-child(1) {
  transition-delay: 0s;
}

.nav-label {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  height: 16px;
  top: 50%;
  margin-top: -8px;
  text-transform: uppercase;
}

/* site content */
.header {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/53148/bg.jpg);
  background-size: cover;
  width: 100%;
  min-height: 100%;
  top: 0px;
  position: absolute;
}

.header h1 {
  width: 100%;
  color: #fff;
  position: absolute;
  margin: 0;
  font-family: var(--headings);
  text-align: center;
  display: block;
  top: 50%;
}

@media (max-width: 420px){
    .nav-trigger {
    width: 65px;
    height: 65px;  
    }
    .line:nth-child(1) {
        top: 8px;
      }
      
      .line:nth-child(2) {
        top: 28px;
      }
      
      .line:nth-child(3) {
        top: 48px;
      }
      .line {
        width: 42px;
      }
   
  }
